
        <footer>
            <div class="w3-container w3-blue-grey w3-text-white-opacity w3-footer" id ="footer">
                <ul class="footer-menu">
                    <li><a href="home.php">Home</a></li>
                    <li><a href="about_us.php">About Us</a></li>
                </ul>
                <p>Powered by <a href="https://www.linkedin.com/in/sanderson-milagres-721696211/?locale=en_US" target="_blank">Sanderson</a> </p>
            </div>
        </footer>

    </body>
</html>