
<header class="container">
  <div class="w3-bar w3-border w3-white w3-card" style="max-width:100%">
    <nav>
      <div class="w3-left" id="logo">
        <img src="../img/generic-logo.jpg" alt="Logo" style="width:80px">
        <a href="home.php" style="font-family: Candal; text-decoration: none; color: #6699ff; font-size: 150%;" >Generic</a>
      </div>
      <!-- Right-sided navbar links. Hide them on small screens -->
      <div class="w3-right w3-hide-small" id="navlinks" style="margin: 20px;">
        <a href="home.php" class="w3-bar-item w3-button">Home</a>
        <a href="about_us.php" class="w3-bar-item w3-button">About Us</a>
      </div>
    </nav>
  </div>
</header>